@import "variables.scss";

button,
button span {
  font-family: "Roboto-regular";
  white-space: nowrap;
}

/* Generic button stuff */

.gp-button {
  --border-thickness: 0.125rem;
  --top-bottom-padding: 0.6875rem;
  --buttonSize: 2.5rem;
  --icon-size: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 1em;
  line-height: 1rem;

  border: solid var(--border-thickness) $green-mint;
  border-radius: var(--border-radius);

  cursor: pointer;

  span.icon svg {
    height: var(--icon-size);
  }

  &:focus {
    outline: 0;
    box-shadow: 0px 0px 0px 1px $blue-sky-shade-50,
      0px 0px 0px 2px $blue-sky-shade-50;
  }
}

.gp-button {
  /* ... */
  /* all browsers: remove the default outline since
      we are rolling our own focus styles */
  outline: none;
}

/* Firefox: removes the inner border shown on focus */
.gp-button::-moz-focus-inner {
  border: none;
}

/* Button levels */

/*
*
*  PRIMARY (default, hover, active, disabled)
*
*/

.gp-button-primary {
  @include buttonColors($green-mint, $green-mint, black);

  &:hover {
    @include buttonColors($green-medium, $green-medium, white);
  }

  &:active {
    @include buttonColors($green-dark, $green-dark, white);
  }

  &:disabled {
    @include buttonColors($grey-light, $grey, $grey-medium);
  }
}

.gp-button-primary span > svg {
  fill: black;
}

.gp-button-primary:hover span > svg {
  fill: white;
}

/*
*
*  SECONDARY (default, hover, active, disabled)
*
*/

.gp-button-secondary {
  @include buttonColors(white, $green-medium, black);

  &:hover {
    @include buttonColors(
      $green-mint-10percent,
      $green-dark,
      $green-extra-dark
    );
  }

  &:active {
    @include buttonColors($green-dark, $green-dark, white);
  }

  &:disabled {
    @include buttonColors($grey-light, $grey, $grey-medium);
  }
}

.gp-button-secondary span > svg {
  fill: black;
}

.gp-button-secondary:hover span > svg {
  fill: $green-dark;
}

/*
*
*  TERITARY (default, hover, active, disabled)
*
*/

.gp-button-tertiary {
  @include buttonColors($transparent, $transparent, $green-medium);

  &:hover {
    @include buttonColors($transparent, $green-medium, $green-medium);
  }

  &:active {
    @include buttonColors($transparent, $green-dark, $green-dark);
  }

  &:disabled {
    @include buttonColors($transparent, $transparent, $grey-medium);
  }
}

.gp-button-tertiary span > svg {
  fill: black;
}

.gp-button-tertiary:hover span > svg {
  fill: $green-medium;
}

/*
*
*  SPECIAL (default, hover, active, disabled)
*
*/

.gp-button-special {
  @include buttonColors(green, green, hotpink);

  &:hover {
    @include buttonColors(pink, green, green);
  }

  &:active {
    @include buttonColors(black, yellow, white);
  }

  &:disabled {
    @include buttonColors(grey, grey, black);
  }
}

.gp-button-small {
  --top-bottom-padding: 0.4375rem;
  --buttonSize: 2rem;
  height: var(--buttonSize);
  padding: var(--top-bottom-padding) 1rem var(--top-bottom-padding) 1rem;
  border-radius: 1rem;

  /* Small with icon left */
  &.gp-button-icon-left {
    --top-bottom-padding: 0.1875rem;

    padding: var(--top-bottom-padding) 1rem var(--top-bottom-padding) 0.325rem;

    span.icon svg {
      margin-right: 0.4375rem;
    }
  }
  /* Small with icon right*/
  &.gp-button-icon-right {
    --top-bottom-padding: 0.1875rem;

    padding: var(--top-bottom-padding) 0.325rem var(--top-bottom-padding) 1rem;

    span.icon svg {
      margin-left: 0.4375rem;
    }
  }

  /* Small icon only */
  &.gp-button-icon-only {
    --top-bottom-padding: 0.1875rem;

    padding: var(--top-bottom-padding) 0.25rem var(--top-bottom-padding) 0.25rem;
  }
}

.gp-button-default {
  --top-bottom-padding: 0.6875rem;
  --buttonSize: 2.5rem;

  height: var(--buttonSize);
  padding: var(--top-bottom-padding) 1rem var(--top-bottom-padding) 1rem;
  border-radius: 1.25rem;

  /* Default with icon left*/
  &.gp-button-icon-left {
    --top-bottom-padding: 0.4375rem;
    padding: var(--top-bottom-padding) 0.75rem var(--top-bottom-padding)
      0.625rem;

    span.icon svg {
      margin-right: 0.6875rem;
    }
  }
  /* Default with icon right*/
  &.gp-button-icon-right {
    --top-bottom-padding: 0.4375rem;
    padding: var(--top-bottom-padding) 0.625rem var(--top-bottom-padding)
      0.75rem;

    span.icon svg {
      margin-left: 0.6875rem;
    }
  }

  /* Default icon only */
  &.gp-button-icon-only {
    --top-bottom-padding: 0.4375rem;
    padding: var(--top-bottom-padding) 0.5rem var(--top-bottom-padding) 0.5rem;
  }
}

.gp-button-large {
  --top-bottom-padding: 0.9375rem;
  --buttonSize: 3rem;
  height: var(--buttonSize);
  padding: var(--top-bottom-padding) 1rem var(--top-bottom-padding) 1rem;
  border-radius: 1.5rem;

  /* Large with icon left*/
  &.gp-button-icon-left {
    --top-bottom-padding: 0.6875rem;
    padding: var(--top-bottom-padding) 1rem var(--top-bottom-padding) 0.375rem;

    span.icon svg {
      margin-right: 0.9375rem;
      margin-left: 0.5rem;
    }
  }
  /* Large with icon right*/
  &.gp-button-icon-right {
    --top-bottom-padding: 0.6875rem;
    padding: var(--top-bottom-padding) 0.375rem var(--top-bottom-padding) 1rem;

    span.icon svg {
      margin-right: 0.4375rem;
      margin-left: 0.9375rem;
    }
  }

  /* Large icon only */
  &.gp-button-icon-only {
    --top-bottom-padding: 0.6875rem;
    padding: var(--top-bottom-padding) 0.75rem var(--top-bottom-padding) 0.75rem;
  }
}
