label {
  font-size: 1em; /* 1 */
  line-height: 1.5rem; /* 2 */
}
/**
* 1. Equal to 16px
* 2. Equal to 24px
*/

input {
  font-size: 1em; /* 1 */
  line-height: 1rem; /* 2 */
  border: solid 0.125em black;
  padding: 0.25em;
  margin: 0;
}
/**
* 1. Equal to 16px
* 2. Equal to 16px
*/

// DNB STUFF

.dnb-form-row {
  display: flex;
  margin-bottom: 1.5rem;
  flex-direction: row;
}

.dnb-form-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dnb-form-row .dnb-form-col:first-child {
  flex-basis: 25%;
  text-align: right;
  padding-right: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  // background-color: pink;
}

.dnb-form p {
  margin-bottom: 0;
}

.selfie {
  align-self: flex-start;
  margin-top: 0.5em;
}

.dnb-form-sub-label {
  font-size: 0.75em;
  line-height: 1rem;
  color: red;
}
